
#cabecalho a {
	text-decoration: none;
	color: #fff;
}

#botao-cadastrar {
	margin-top: 20px;
}

header {
	text-align: center;
}

footer {
	text-align: center;
}

#modal-detalhes {
	height: 90%!important;
	width: 80%!important;
	overflow-y: scroll;
}

#modal-detalhes h1, #modal-detalhes h2{
	margin: 0;
}


#pagina-inicial {
    
}

#pagina-inicial .filmes {
    max-width: 350px;
}

#pagina-inicial .filmes .filme .titulo-filme {
    float: left;
    display: block;
    width: 55%;
    padding: 6px;
    margin: 6px 0px 0px 0px;
    font-size: 14px;
    color: #f7f7f7;
    text-decoration: none;
    text-align: left;
    background: #cc0000;
    line-height: 12px;
    font-weight: normal;
    letter-spacing: 0px;
}

#pagina-inicial .filmes .filme .cartaz {
    float: left;
    width: 35%;
    height: 203px;
    margin: 0px 10px 11px 0px;
}

#pagina-inicial .filmes .filme .descricao-filme {
    float: left;
    width: 55%;
    margin: 6px 0px 0px 0px;
    font-size: 13px;
    color: #ce3c47;
    line-height: 12px;
}

#pagina-inicial .filmes .filme .descricao-filme .bloco {
    color: #ce3c47;
    border-top: 1px dashed #ce3c47;
    padding: 6px 0px 0px 0px;
    margin: 6px 0px 0px 0px;
}

#pagina-inicial .filmes .filme .programacao {
    clear: both;
}

#pagina-inicial .filmes .filme .programacao .item-programacao {
    margin-bottom: 20px;
}

#pagina-inicial .filmes .filme .programacao .item-programacao .filme-opcao {
    text-decoration: underline;
}