/* overrides css*/

.ui-widget, .ui-widget table, .ui-widget button{
	font-size: 0.95em;
}

/* .ui-widget table, .ui-inputtextarea, .ui-autocomplete-multiple-container {
	width: 100%;
}*/

.ui-inputtextarea, .ui-autocomplete-multiple-container {
	width: 100%;
}

.ui-widget-content {
	/*border: none;*/
	background: none;
	padding: 0;
}

.ui-layout-north {
	
}

.ui-layout-north .ui-layout-unit-content {
	background-color: #c00;
	color: #fff;
}

/*
.ui-layout-north .ui-layout-unit-content  {
  animation: pulse 100s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  50% {
    background-color: #FF4136;
  }
  100% {
  	background-color: #001F3F;
  }
}
*/
.ui-dialog, .ui-autocomplete-panel, .ui-selectonemenu-items{
	background-color: #fff;
}

.ui-fileupload-content {
	display: none;
}
