<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <f:metadata>
        <f:viewParam id="id" name="id" value="#{detalhesDoFilmeBean.id}" />
        <f:viewAction action="#{detalhesDoFilmeBean.carregar()}" />
    </f:metadata>

    <ui:composition template="/template.xhtml">

        <ui:define name="conteudo">

            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <p:panel header="Imagem de cartaz">
                            <p:graphicImage width="100%"
                                            url="#{detalhesDoFilmeBean.urlDaImagemDoFilme}" cache="false" />
                        </p:panel>
                    </div>
                    <div class="ui-grid-col-10" style="padding-left: 20px;">

                        <p:panel>
                            <h1>
                                <h:outputText value="#{detalhesDoFilmeBean.filme.titulo}" />
                            </h1>
                            <hr />
                            <ul
                                style="list-style: none; margin: 0; padding: 0; line-height: 1.5;">
                                <li><b>Gênero:</b> <ui:repeat var="genero"
                                                              value="#{detalhesDoFilmeBean.filme.generos}">
                                        <span
                                            style="font-size: 0.8em; background-color: #c00; color: #fff; padding: 1px; border-radius: 5px;">#{genero}</span>
                                    </ui:repeat></li>
                                <li><b>Ano:</b> #{detalhesDoFilmeBean.filme.ano}</li>
                                <li><b>Censura:</b>
                                    #{detalhesDoFilmeBean.filme.censura.toString()}</li>
                                <li><b>Diretor:</b> #{detalhesDoFilmeBean.filme.diretor}</li>
                                <li><b>Duração:</b>
                                    #{detalhesDoFilmeBean.filme.duracaoEmMinutos}min</li>
                                <li><b>Resumo:</b> #{detalhesDoFilmeBean.filme.resumo}</li>
                            </ul>
                        </p:panel>

                        <p:panel style="margin-top: 20px;">
                            <h2>Sessões</h2>
                            <hr />

                            <h:form>
                                <p:commandButton value="Cadastrar sessão"
                                                 action="#{cadastroDeSessaoBean.limpar()}"
                                                 update="formSessao formConfiguracaoDiaria formHorario"
                                                 onclick="PF('painelCadastroDeSessao').show();$('.ui-layout-center > div').scrollTop(400);" />
                            </h:form>

                            <p:dataTable value="#{detalhesDoFilmeBean.filme.sessoes}"
                                         var="sessao" id="sessoesTable">

                                <p:column headerText="Vídeo" width="30">
                                    <h:outputText value="#{sessao.video.toString()}" />
                                </p:column>

                                <p:column headerText="Áudio" width="200">
                                    <h:outputText value="#{sessao.audio.toString()}" />
                                </p:column>

                                <p:column headerText="Configurações Diárias">
                                    <ui:repeat var="configuracaoDiaria"
                                               value="#{sessao.configuracoesDiarias}">
                                        <h:panelGrid columns="1">
                                            <h:outputText value="#{configuracaoDiaria}" />
                                        </h:panelGrid>
                                    </ui:repeat>
                                </p:column>

                                <p:column width="100">
                                    <h:form>
                                        <p:commandButton value="Excluir"
                                                         action="#{cadastroDeSessaoBean.remover(sessao.id)}"
                                                         oncomplete="location.reload();"
                                                         update="sessoesTable" />
                                    </h:form>
                                </p:column>

                            </p:dataTable>

                            <p:panel header="Cadastro de sessão" style="margin-top:20px;"
                                     visible="false" closable="true"
                                     widgetVar="painelCadastroDeSessao">

                                <h:form id="formSessao">

                                    <h:panelGrid columns="2" cellpadding="5">
                                        <h:outputLabel value="Vídeo" />
                                        <p:selectOneRadio value="#{cadastroDeSessaoBean.sessao.video}">
                                            <f:selectItem itemLabel="2D" itemValue="_2D" />
                                            <f:selectItem itemLabel="3D" itemValue="_3D" />
                                        </p:selectOneRadio>
                                    </h:panelGrid>

                                    <h:panelGrid columns="2" cellpadding="5">

                                        <h:outputLabel value="Áudio" />
                                        <p:selectOneRadio value="#{cadastroDeSessaoBean.sessao.audio}">
                                            <f:selectItem itemLabel="Dublado" itemValue="DUBLADO" />
                                            <f:selectItem itemLabel="Legendado" itemValue="LEGENDADO" />
                                            <f:selectItem itemLabel="Nacional" itemValue="NACIONAL" />
                                        </p:selectOneRadio>

                                    </h:panelGrid>


                                    <p:commandButton action="#{cadastroDeSessaoBean.salvar}"
                                                     oncomplete="PF('painelCadastroDeSessao').close();"
                                                     value="Adicionar sessão" update="sessoesTable" />

                                </h:form>


                                <p:panel>
                                    <h4>Adicionar configuração diária</h4>
                                    <h:form id="formConfiguracaoDiaria">
                                        <h:panelGrid columns="6" cellpadding="8">

                                            <h:outputText value="Dia da semana:" />
                                            <p:selectOneMenu style="width: 100px"
                                                             value="#{cadastroDeSessaoBean.configuracaoDiaria.diaDaSemana}">

                                                <f:selectItems value="#{cadastroDeSessaoBean.diasDaSemana()}" />

                                            </p:selectOneMenu>

                                            <p:commandButton value="Adicionar configuração diária"
                                                             update="formConfiguracaoDiaria configuracoesDiariasTable formHorario"
                                                             action="#{cadastroDeSessaoBean.resetColetorDeConfiguracaoDiaria}">

                                                <p:collector
                                                    value="#{cadastroDeSessaoBean.configuracaoDiaria}"
                                                    addTo="#{cadastroDeSessaoBean.sessao.configuracoesDiarias}"
                                                    unique="false" />

                                            </p:commandButton>

                                        </h:panelGrid>
                                    </h:form>


                                    <!-- 		panel de horários -->

                                    <h5>Adicionar Horários</h5>

                                    <h:form id="formHorario">
                                        <h:panelGrid columns="5" cellpadding="5">

                                            <p:outputLabel for="horario" value="Horário" />
                                            <p:inputMask id="horario"
                                                         value="#{cadastroDeSessaoBean.horario.horario}" mask="99:99">

                                            </p:inputMask>

                                            <p:outputLabel value="Sala" />
                                            <p:selectOneMenu value="#{cadastroDeSessaoBean.horario.sala}"
                                                             style="width:125px">
                                                <f:selectItem itemLabel="" itemValue="" />
                                                <f:selectItem itemLabel="Sala 1" itemValue="Sala 1" />
                                                <f:selectItem itemLabel="Sala 2" itemValue="Sala 2" />
                                                <f:selectItem itemLabel="Sala 3" itemValue="Sala 3" />
                                                <f:selectItem itemLabel="Sala 4" itemValue="Sala 4" />

                                            </p:selectOneMenu>

                                            <p:commandButton value="Adicionar"
                                                             update="formHorario horariosTable"
                                                             action="#{cadastroDeSessaoBean.resetColetorDeHorarios}">

                                                <p:collector value="#{cadastroDeSessaoBean.horario}"
                                                             addTo="#{cadastroDeSessaoBean.configuracaoDiaria.horarios}"
                                                             unique="false"/>

                                            </p:commandButton>

                                        </h:panelGrid>
                                    </h:form>

                                    <!-- 	tabela de horários -->
                                    <p:dataTable
                                        value="#{cadastroDeSessaoBean.configuracaoDiaria.horarios}"
                                        var="horario" id="horariosTable">

                                        <p:column headerText="Horários">
                                            <h:outputText value="#{horario}" />
                                        </p:column>

                                    </p:dataTable>

                                </p:panel>

                                <!-- tabela de configurações diárias -->
                                <p:dataTable id="configuracoesDiariasTable"
                                             value="#{cadastroDeSessaoBean.sessao.configuracoesDiarias}"
                                             var="configuracaoDiaria" style="margin-top:15px">

                                    <p:column headerText="Configurações diárias">
                                        <h:outputText value="#{configuracaoDiaria}" />
                                    </p:column>

                                </p:dataTable>

                            </p:panel>

                        </p:panel>

                    </div>
                </div>
            </div>


        </ui:define>
    </ui:composition>
</html>