<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/template.xhtml">

	<ui:define name="conteudo">

		<p:panel header="Gerenciar Filmes">
			<h:form>
				<p:commandButton value="Cadastrar filme" id="botao-cadastrar"
					update="modal-form" action="#{filmesBean.limpar()}"
					oncomplete="PF('modal-form').show();" icon="ui-icon-circle-plus" />
			</h:form>

			<p:dataTable value="#{filmesBean.all}" var="filme"
				emptyMessage="Não existem registros." id="tabela" paginator="true"
				rows="5">

				<p:column width="50">
					<h:form>
						<p:button outcome="detalhesDoFilme" icon="ui-icon-zoomin">
							<f:param name="id" value="#{filme.id}" />
						</p:button>
					</h:form>
				</p:column>

				<p:column headerText="Título">
					<h:outputText value="#{filme.titulo}" />
				</p:column>

				<p:column headerText="Ano">
					<h:outputText value="#{filme.ano}" />
				</p:column>

				<p:column>
					<h:form>
						<p:commandButton value="Editar"
							action="#{filmesBean.carregar(filme.id)}"
							oncomplete="PF('modal-form').show();" update="modal-form" />

						<p:commandButton value="Excluir"
							action="#{filmesBean.remover(filme.id)}" update="tabela" />
					</h:form>
				</p:column>
			</p:dataTable>
		</p:panel>

	</ui:define>

	<ui:define name="modal">

		<!-- 		Modal do formulário do filme -->
		<p:dialog header="#{filmesBean.tituloDoModalDoFormulario}"
			widgetVar="modal-form" id="modal-form" closeOnEscape="true"
			maximizable="true" modal="true" width="80%" showEffect="fade">

			<h:form id="formulario" enctype="multipart/form-data"
				prependId="false">

				<div class="ui-grid ui-grid-responsive">
					<div class="ui-grid-row">
						<div class="ui-grid-col-3">

							<p:panel style="text-align:center;" header="Imagem de cartaz">
								<p:graphicImage id="imagemPreview"
									url="#{filmesBean.urlDaImagemTemporaria}" cache="false"
									width="80%" />

								<p:fileUpload label="Escolher" skinSimple="true"
									fileUploadListener="#{filmesBean.handleFileUpload}"
									mode="advanced" auto="true" sizeLimit="40000000"
									allowTypes="/(\.|\/)(jpe?g|png)$/" update="imagemPreview">
								</p:fileUpload>

							</p:panel>
						</div>
						<div class="ui-grid-col-9">

							<p:panel header="Dados do filme" style="margin-left:20px;">

								<div class="ui-grid-row">
									<div class="ui-grid-col-6">
										<h:panelGrid columns="2" cellpadding="10">
											<h:outputFormat value="Título" />
											<p:inputText value="#{filmesBean.filme.titulo}" />

											<h:outputFormat value="Ano" />
											<p:slider display="ano" minValue="1990" maxValue="2050"
												for="ano">
												<p:inputText value="#{filmesBean.filme.ano}" id="ano" />
											</p:slider>

											<h:outputFormat value="Duração (Minutos)" />
											<p:slider display="duracao" minValue="1" maxValue="500"
												for="duracao">
												<p:inputText value="#{filmesBean.filme.duracaoEmMinutos}"
													id="duracao" />
											</p:slider>

											<h:outputFormat value="Diretor" />
											<p:inputText value="#{filmesBean.filme.diretor}" />



											<p:commandButton value="Cadastrar"
												action="#{filmesBean.salvar}" update="tabela,formulario"
												oncomplete="hideModalOnSuccess(xhr, status, args, 'modal-form');"
												rendered="#{!filmesBean.editar}" icon="ui-icon-disk" />

											<p:commandButton value="Atualizar"
												action="#{filmesBean.atualizar}" update="tabela,formulario"
												oncomplete="hideModalOnSuccess(xhr, status, args, 'modal-form');"
												rendered="#{filmesBean.editar}" />

											<p:button value="Cancelar" onclick="PF('modal-form').hide();"
												icon="ui-icon-closethick" />

										</h:panelGrid>
									</div>
									<div class="ui-grid-col-6">
										<h:panelGrid columns="2" cellpadding="10">

											<h:outputText value="Gênero" />
											<p:autoComplete value="#{filmesBean.filme.generos}"
												completeMethod="#{filmesBean.completarGenero}"
												multiple="true" />

											<h:outputText value="Censura" />
											<p:selectOneMenu value="#{filmesBean.filme.censura}">
												<f:selectItems value="#{filmesBean.censuras}" var="censura"
													itemLabel="#{censura}" itemValue="#{censura}" />
											</p:selectOneMenu>

											<h:outputText value="Resumo" />
											<p:inputTextarea value="#{filmesBean.filme.resumo}"
												style="max-height:250px;" />

										</h:panelGrid>
									</div>
								</div>
							</p:panel>
						</div>
					</div>

				</div>
			</h:form>

		</p:dialog>
	</ui:define>
</ui:composition>
</html>
