<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <ui:composition template="/template-publico.xhtml">
        <ui:define name="conteudo">

            <p:panel header="Digite a senha do Administrador:" style="width: 300px; margin: 0 auto;">

                <h:form>
                    <p:growl autoUpdate="true" /> 

                    <p:password value="#{autenticacaoBean.senha}" />

                    <br />
                    <br />

                    <p:commandButton value="Entrar" actionListener="#{autenticacaoBean.autenticar()}" />
                </h:form>
            </p:panel>
        </ui:define>
    </ui:composition>
</html>
