<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <ui:composition template="/template-publico.xhtml">
        <ui:define name="conteudo">

            <div id="pagina-inicial">


                <c:if test="${empty listagemDeFilmesBean.all}">
                    <p:panel style="margin-bottom:20px">
                        <h:outputText value="Não existem filmes cadastrados" />
                    </p:panel>
                </c:if>

                <div class="filmes">
                    <ui:repeat value="#{listagemDeFilmesBean.all}" var="filme">

                        <div class="filme">

                            <a href="#">
                                <img class="cartaz" src="#{request.contextPath}#{listagemDeFilmesBean.getUrlDaImagemDoFilme(filme.id)}" title="A Vida Secreta dos Nossos Bichos"></img>
                            </a>

                            <a class="titulo-filme" href="#">#{filme.titulo}</a>

                            <div class="descricao-filme">

                                <ui:repeat value="#{filme.sessoes}" var="sessao">
                                    <br/>#{sessao.video.toString()} - #{sessao.audio.toString()}
                                </ui:repeat>

                                <div class="bloco">
                                    #{filme.generosConcatenados}
                                </div>

                                <div class="bloco">
                                    #{filme.duracaoEmMinutos} min
                                </div>

                                <div class="bloco">
                                    #{filme.censura.toString()}
                                </div>
                            </div>


                            <div class="programacao">
                                <p:panel header="Programação" style="margin-bottom:20px">

                                    <ui:repeat value="#{filme.sessoes}" var="sessao">
                                        <div class="item-programacao">
                                            <strong class="filme-opcao">#{sessao.video.toString()} - #{sessao.audio.toString()}</strong>
                                            <br/>
                                            <ui:repeat value="#{sessao.configuracoesDiarias}" var="configuracaoDiaria">
                                                <strong>#{configuracaoDiaria.diaDaSemana.toString()}</strong>
                                                <br/>
                                                #{configuracaoDiaria.horariosConcatenados}
                                                <br/>
                                            </ui:repeat>
                                        </div>
                                    </ui:repeat>

                                </p:panel>
                            </div>

                        </div>
                    </ui:repeat>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>
